# Rust
python_rs/jit/__rust__/target/
python_rs/hand_test/__pycache__/
python_rs/tests/__pycache__/
# Parser output
python_rs/parser/parser.out
python_rs/parser/parsetab.py
python_rs/parser/*.out
python_rs/parser/parsetab.*
python_rs/.venv
python_rs/jit-interp/__rust__/target
*.pyc
*.so
*.pyd
*.whl
*.venv